.practiceMenu ul {
  display: flex;

  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  list-style-type: none;
}

.nav-link {
  cursor: pointer;
  font-size: 1.3rem;
  text-decoration: none;
}
.nav-linkMenu:hover {
  color: #5900ff;
}
