.product-img {
  width: 300px;
  height: 250px;
  padding-top: 25px;

  background-color: #f5f5f5;
  text-align: center;
}

.product-img > img {
  width: 200px;
}

.product-container {
  background-color: white;
  text-align: center;
  width: 320px;
  height: 320px;
}

.text {
  font-size: 33px;
  margin-top: 13px;
}
